//set background color
body {
    background: #ed2626;
  }


h1{
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

//link stuff

 a {
    text-decoration: none;
    color: black;
    font-family: monospace;
    padding: 5px;
    text-align: center;
  }
  
  .link{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  }

  a:hover{
    background-color: white;
    color: white;
  }
  
