body {
    background: #f24444;
  }
  p {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center
  }
  
  
  h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
  }

  h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }

  h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }

  h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }

  h5 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }

  h6 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }
  
  hr{
    color: black;
    border-color: black;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: monospace;
    padding: 5px;
  }
  
  .link{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  .V{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
  }
  
  a:hover{
    border-color: #f24444;
    background-color: #f24444;
    font-family: Arial, Helvetica, sans-serif;
    color: #f24444;
  }

img{
    border: 5px solid black;
}
