body {
    background: #ed2626;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
      body, h1, h2, h3, h4, h5, h6  {
      font-family: Roboto, sans-serif;
        }
    </style>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {

  box-sizing: border-box;

}

body {

  margin: 0;

  font-family: Roboto, sans-serif;

}

/* Style the side navigation */

.sidenav {

  height: 100%;

  width: 200px;

  position: fixed;

  z-index: 1;

  top: 0;

  left: 0;

  background-color: #111;

  overflow-x: hidden;

}

<div class="sidenav">
  <a href="https://team3487-redpriderobotics.github.io/index.html">Home</a>
  <a href="https://team3487-redpriderobotics.github.io/about.html">About Us</a>
  <a href="https://team3487-redpriderobotics.github.io/resources.html">Resources</a>
</div>

</body>

</html>



