
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

.topnav {
  overflow: hidden;
  background-color: #891919;
}

.topnav a {
  float: left;
  display: block;
  color: #E8ECF8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
  background-color: #C82323;
  color: black;
} 

body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }

  p {
    text-decoration: none;
    font-weight: normal;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: left;
  }
  
  
  h1 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;;
    padding: 5px;
  }

  h2 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  h3 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  h4 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  h5 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  h6 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }
  
  hr{
    color: black;
    border-color: black;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  
  
  a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
  }
  
  .link{
    text-align: left;
    padding: 5px;
    border-radius: 5px;
  }
  
  .V{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
  }
  
  a:hover{
    border-color: #f24444;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
  }

img{
    border: 5px solid black;
}
